.page-link {
    color: #e3342f;
    background-color: #ffed4a;
}

.vuecal__event.orange {background-color: rgba(253, 156, 66, 0.9);border: 1px solid rgb(233, 136, 46);color: #fff;}
.vuecal__event.dark_orange {background-color: rgba(124, 71, 21, 0.9);border: 1px solid rgb(124, 71, 21, 0.9);color: #fff;}

.vuecal__event.green {background-color: rgba(164, 230, 210, 0.9);border: 1px solid rgb(144, 210, 190);color:black;}
.vuecal__event.dark_green {background-color: rgba(3, 75, 53, 0.9);border: 1px solid rgb(3, 75, 53, 0.9);color:#fff;}

.vuecal__event.red {background-color: rgba(255, 102, 102, 0.9);border: 1px solid rgb(235, 82, 82);color: #fff;}
.vuecal__event.dark_red {background-color: rgba(88, 8, 8, 0.9);border: 1px solid rgb(88, 8, 8, 0.9);color: #fff;}

.vuecal__event.blue {background-color: rgba(102, 181, 255, 0.9);border: 1px solid rgb(102, 181, 255);color: #fff;}
.vuecal__event.dark_blue {background-color: rgba(1, 48, 102, 0.9);border: 1px solid rgb(1, 48, 102);color: #fff;}

.vuecal__event.fucsia {background-color: rgba(201, 40, 193, 0.9);border: 1px solid rgb(201, 40, 193, 0.9);color: #fff;}
.vuecal__event.wine {background-color: rgb(53, 2, 2);border: 1px solid rgb(53, 2, 2);color: #fff;}
.vuecal__event.purple {background-color: rgba(75, 14, 72, 0.9);border: 1px solid rgb(75, 14, 72, 0.9);color: #fff;}
.vuecal__event.mamey {background-color: rgba(250, 169, 93, 0.9);border: 1px solid rgb(250, 169, 93, 0.9);color: #fff;}

.vuecal__event.dark_gray {background-color: rgba(77, 69, 68, 0.932);border: 1px solid rgb(250, 169, 93, 0.9);color: #fff;}

.vuecal__event.very_peri {background-color: rgba(102, 103, 171, 0.9);border: 1px solid rgb(102, 103, 171, 0.9);color: black;}

.vuecal__event.pokemon_yellow {background-color: rgba(255,222,0, 0.9);border: 1px solid rgb(255,222,0, 0.9);color: black;}
.vuecal__event.pokemon_blue {background-color: rgba(59,76,202, 0.9);border: 1px solid rgb(59,76,202, 0.9);color: #fff;}
.vuecal__event.pokemon_red {background-color: rgba(204,0,0, 0.9);border: 1px solid rgb(204,0,0, 0.9);color: #fff;}
.vuecal__event.pokemon_mustard {background-color: rgba(179,161,37, 0.9);border: 1px solid rgb(179,161,37, 0.9);color: black;}
.vuecal__event.pistachio {background-color: rgba(45,255,178, 0.9);border: 1px solid rgb(45,255,178, 0.9);color: black;}

.vuecal__event {background-color: rgba(182, 191, 201, 0.9);border: 1px solid rgb(182, 191, 201);color: black;}
